* {
	/*background-color: #2F4F4F;*/
    /*background-color: #1a1a1a;*/
}


container {
    
}

body {
	/*background-color: #2F4F4F;*/
    background-color: #1a1a1a;
	margin: 0;
	padding: 0;
	overflow:hidden;
}

.note {
	width: 30px;
	height: 50px;
	transform-origin: bottom;
	position: absolute;
	/*display: none;*/
	border-radius: 10px;
	background-color: #33ccff;
	/*background-color: #00ff00;*/
	float: left;
	/*margin: 10px;*/
  pointer-events:none;
}

#ship {
	height: 64px;
	width: 64px;
	position: absolute;
	
}


.btn {
    padding: 14px 24px;
    border: 0 none;
    margin: 10px auto;
    width: 200px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    font-family: 'Quicksand', sans-serif;
    
}


.btn-lg.round {
	border-radius: 100px;
}